*.xcworkspace/xcuserdata/
xcuserdata/
version.txt
.DS_Store
build
test
make
*.psd
*.pkg
*.zip
src/libhpprgm/src
src/libhpprgm/Makefile
src/libmin/src
src/libmin/Makefile
src/libppl/src
src/libppl/Makefile
src/libfmt/src
src/libfmt/Makefile
ppl+.xcodeproj
Installer\ for\ Xprime
